# Climate analysis

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib import style

In [2]:
df = pd.read_excel('82210-1.xlsx')
df.head()

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,1991,1,1,5.3,9.6,0.0,-,-,86,0,3.4,2.4,13,-,1,0,0,0,0,0
1,1991,1,2,2.6,6.4,0.0,-,-,88,0,3.7,4.1,11.1,-,1,0,0,0,0,0
2,1991,1,3,2.3,5.2,-1.0,-,-,87,0,2.6,2.0,9.4,-,1,0,0,0,0,0
3,1991,1,4,3.9,10.0,0.0,-,-,63,0,8.0,4.4,25.9,-,1,0,0,0,0,0
4,1991,1,5,2.9,10.4,-3.0,-,-,69,0,10.5,5.2,18.3,-,0,0,0,0,0,0

In [3]:
df.shape

(1826, 20)

In [4]:
df = df.rename(columns = {"Y" : 'year', "M" : 'month', "D" : "day", "T" : "avg temp", "TM" : "max temp", "Tm" : "min temp", "SLP" : "avg atm sea", "STP" : "avg atm station", "H" : "humidity", "PP" : "rain", "VV" : "avg visibility", "V" : "avg wind", "VM" : "max sustained wind" , "VG" : "max wind", "FG" : "occ Fog", "RA" : "occ Rain", "SN" : "occ Snow", "GR" : "occ Hail", "TS" : "occ Thunder", "TR" : "occ Tornado"})

In [5]:
df.columns

Index(['year', 'month', 'day', 'avg temp', 'max temp', 'min temp',
       'avg atm sea', 'avg atm station', 'humidity', 'rain', 'avg visibility',
       'avg wind', 'max sustained wind', 'max wind', 'occ Fog', 'occ Rain',
       'occ Snow', 'occ Hail', 'occ Thunder', 'occ Tornado'],
      dtype='object')

In [6]:
df.dtypes

year                    int64
month                   int64
day                     int64
avg temp              float64
max temp              float64
min temp              float64
avg atm sea            object
avg atm station        object
humidity               object
rain                   object
avg visibility        float64
avg wind              float64
max sustained wind     object
max wind               object
occ Fog                 int64
occ Rain                int64
occ Snow                int64
occ Hail                int64
occ Thunder             int64
occ Tornado             int64
dtype: object